.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 10px auto 0;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;

  &:active {
    transform: translateY(4px);
  }
}

.modal-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  // background-color: #fcfcfa;
  background: #f0f0f0;
  border: 1px solid black;
  border-radius: 5px;
}

.close-modal {
  position: absolute;
  top: 7px;
  right: 3px;
  padding: 5px 7px;
  outline: none;
  border: none;
  cursor: pointer;
}

.input {
  font-size: 24px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.buttons-container {
  display: flex;
}
