.home-page {
  text-align: center;
}
.paragraph {
  margin: 30px 50px 20px 270px;
  text-align: center;
  width: 500px;
}
.flex-para-content {
  display: flex;
}
.additional-info {
  display: flex;
  flex-direction: column;
}
