.home-page {
  text-align: center;
}
.paragraph {
  margin: 30px 0px 20px 0px;
  text-align: center;
  width: 500px;
}
.flex-para-content {
  display: flex;
  justify-content: center;
}
.additional-info {
  display: flex;
  flex-direction: column;
}
